<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CsWin"
             connectionString="data source=.; database=FlyWithMe;integrated security=SSPI; TrustServerCertificate=true"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>